.row.mt-3
    .col-lg-3.danhmuc
      .tieudedm DANH M&#x1EE4;C
    .duongke
    .col-lg-12.mt-2
      .row.khoidanhmuc
        .col-lg-2.thongtindm
          a(href='')
            .anhdanhmuc
              img(src='https://maytinhviethung.com/image/data/tin-tuc/2020/logo-square-letter.png')
            .tendanhmuc &Dstrok;i&#x1EC7;n tho&#x1EA1;i Apple
        .col-lg-2.thongtindm
          a(href='')
            .anhdanhmuc
              img(src='https://maytinhviethung.com/image/data/tin-tuc/2020/logo-square-letter.png')
            .tendanhmuc &Dstrok;i&#x1EC7;n tho&#x1EA1;i Apple
        .col-lg-2.thongtindm
          a(href='')
            .anhdanhmuc
              img(src='https://maytinhviethung.com/image/data/tin-tuc/2020/logo-square-letter.png')
            .tendanhmuc &Dstrok;i&#x1EC7;n tho&#x1EA1;i Apple
        .col-lg-2.thongtindm
          a(href='')
            .anhdanhmuc
              img(src='https://maytinhviethung.com/image/data/tin-tuc/2020/logo-square-letter.png')
            .tendanhmuc &Dstrok;i&#x1EC7;n tho&#x1EA1;i Apple
        .col-lg-2.thongtindm
          a(href='')
            .anhdanhmuc
              img(src='https://maytinhviethung.com/image/data/tin-tuc/2020/logo-square-letter.png')
            .tendanhmuc &Dstrok;i&#x1EC7;n tho&#x1EA1;i Apple
        .col-lg-2.thongtindm
          a(href='')
            .anhdanhmuc
              img(src='https://maytinhviethung.com/image/data/tin-tuc/2020/logo-square-letter.png')
            .tendanhmuc &Dstrok;i&#x1EC7;n tho&#x1EA1;i Apple
        .col-lg-2.thongtindm
          a(href='')
            .anhdanhmuc
              img(src='https://maytinhviethung.com/image/data/tin-tuc/2020/logo-square-letter.png')
            .tendanhmuc &Dstrok;i&#x1EC7;n tho&#x1EA1;i Apple
        .col-lg-2.thongtindm
          a(href='')
            .anhdanhmuc
              img(src='https://maytinhviethung.com/image/data/tin-tuc/2020/logo-square-letter.png')
            .tendanhmuc &Dstrok;i&#x1EC7;n tho&#x1EA1;i Apple
        .col-lg-2.thongtindm
          a(href='')
            .anhdanhmuc
              img(src='https://maytinhviethung.com/image/data/tin-tuc/2020/logo-square-letter.png')
            .tendanhmuc &Dstrok;i&#x1EC7;n tho&#x1EA1;i Apple
        .col-lg-2.thongtindm
          a(href='')
            .anhdanhmuc
              img(src='https://maytinhviethung.com/image/data/tin-tuc/2020/logo-square-letter.png')
            .tendanhmuc &Dstrok;i&#x1EC7;n tho&#x1EA1;i Apple
.container.product
  .row.mt-4
    .col-lg-3.danhmuc
      .tieudedm S&#x1EA2;N PH&#x1EA8;M B&Aacute;N CH&#x1EA0;Y
    .col-lg-9.xemtatca
      a(href='') Xem t&#x1EA5;t c&#x1EA3;
    .duongke
  .row.mt-4
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://hatgiongdalat.com/asset/upload/image/hat-giong-bap-cai-chiu-nhiet_(1).jpg?v=20190410' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') B&#x1EAF;p c&#x1EA3;i (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 5.000&dstrok;
          span(style='padding-left: 5px')
            del 1.000&dstrok;
      .sale -40%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://t010.gokisoft.com/uploads/2021/07/p-7513-mong-toi-rau-sach.jpg' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') M&#x1ED3;ng t&#x1A1;i (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 5.000&dstrok;
          span(style='padding-left: 5px')
            del 15.000&dstrok;
      .sale -67%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://t010.gokisoft.com/uploads/2021/07/p-7514-ca-rot-rau-sach.jpg' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') C&agrave; r&#x1ED1;t (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 3.000&dstrok;
          span(style='padding-left: 5px')
            del 5.000&dstrok;
      .sale -67%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://t010.gokisoft.com/uploads/2021/07/p-7515-dua-chuot-rau-sach.jpg' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') D&#x1B0;a chu&#x1ED9;t (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 10.000&dstrok;
          span(style='padding-left: 5px')
            del 20.000&dstrok;
      .sale -50%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
  .row.mt-4
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://hatgiongdalat.com/asset/upload/image/hat-giong-bap-cai-chiu-nhiet_(1).jpg?v=20190410' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') B&#x1EAF;p c&#x1EA3;i (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 5.000&dstrok;
          span(style='padding-left: 5px')
            del 1.000&dstrok;
      .sale -40%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://t010.gokisoft.com/uploads/2021/07/p-7513-mong-toi-rau-sach.jpg' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') M&#x1ED3;ng t&#x1A1;i (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 5.000&dstrok;
          span(style='padding-left: 5px')
            del 15.000&dstrok;
      .sale -67%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://t010.gokisoft.com/uploads/2021/07/p-7514-ca-rot-rau-sach.jpg' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') C&agrave; r&#x1ED1;t (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 3.000&dstrok;
          span(style='padding-left: 5px')
            del 5.000&dstrok;
      .sale -67%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://t010.gokisoft.com/uploads/2021/07/p-7515-dua-chuot-rau-sach.jpg' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') D&#x1B0;a chu&#x1ED9;t (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 10.000&dstrok;
          span(style='padding-left: 5px')
            del 20.000&dstrok;
      .sale -50%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
  .row.mt-4
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://hatgiongdalat.com/asset/upload/image/hat-giong-bap-cai-chiu-nhiet_(1).jpg?v=20190410' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') B&#x1EAF;p c&#x1EA3;i (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 5.000&dstrok;
          span(style='padding-left: 5px')
            del 1.000&dstrok;
      .sale -40%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://t010.gokisoft.com/uploads/2021/07/p-7513-mong-toi-rau-sach.jpg' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') M&#x1ED3;ng t&#x1A1;i (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 5.000&dstrok;
          span(style='padding-left: 5px')
            del 15.000&dstrok;
      .sale -67%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://t010.gokisoft.com/uploads/2021/07/p-7514-ca-rot-rau-sach.jpg' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') C&agrave; r&#x1ED1;t (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 3.000&dstrok;
          span(style='padding-left: 5px')
            del 5.000&dstrok;
      .sale -67%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://t010.gokisoft.com/uploads/2021/07/p-7515-dua-chuot-rau-sach.jpg' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') D&#x1B0;a chu&#x1ED9;t (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 10.000&dstrok;
          span(style='padding-left: 5px')
            del 20.000&dstrok;
      .sale -50%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
  .row.mt-4
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://hatgiongdalat.com/asset/upload/image/hat-giong-bap-cai-chiu-nhiet_(1).jpg?v=20190410' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') B&#x1EAF;p c&#x1EA3;i (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 5.000&dstrok;
          span(style='padding-left: 5px')
            del 1.000&dstrok;
      .sale -40%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://t010.gokisoft.com/uploads/2021/07/p-7513-mong-toi-rau-sach.jpg' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') M&#x1ED3;ng t&#x1A1;i (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 5.000&dstrok;
          span(style='padding-left: 5px')
            del 15.000&dstrok;
      .sale -67%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://t010.gokisoft.com/uploads/2021/07/p-7514-ca-rot-rau-sach.jpg' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') C&agrave; r&#x1ED1;t (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 3.000&dstrok;
          span(style='padding-left: 5px')
            del 5.000&dstrok;
      .sale -67%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://t010.gokisoft.com/uploads/2021/07/p-7515-dua-chuot-rau-sach.jpg' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') D&#x1B0;a chu&#x1ED9;t (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 10.000&dstrok;
          span(style='padding-left: 5px')
            del 20.000&dstrok;
      .sale -50%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
  .row.mt-4
    .col-lg-3.danhmuc
      .tieudedm S&#x1EA2;N PH&#x1EA8;M M&#x1EDA;I NH&#x1EA4;T
    .col-lg-9.xemtatca
      a(href='') Xem t&#x1EA5;t c&#x1EA3;
    .duongke
  .row.mt-4
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://hatgiongdalat.com/asset/upload/image/hat-giong-bap-cai-chiu-nhiet_(1).jpg?v=20190410' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') B&#x1EAF;p c&#x1EA3;i (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 5.000&dstrok;
          span(style='padding-left: 5px')
            del 1.000&dstrok;
      .sale -40%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://t010.gokisoft.com/uploads/2021/07/p-7513-mong-toi-rau-sach.jpg' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') M&#x1ED3;ng t&#x1A1;i (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 5.000&dstrok;
          span(style='padding-left: 5px')
            del 15.000&dstrok;
      .sale -67%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://t010.gokisoft.com/uploads/2021/07/p-7514-ca-rot-rau-sach.jpg' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') C&agrave; r&#x1ED1;t (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 3.000&dstrok;
          span(style='padding-left: 5px')
            del 5.000&dstrok;
      .sale -67%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
    .col-lg-3
      .card(style='height: 330px;')
        img.bg-success(src='https://t010.gokisoft.com/uploads/2021/07/p-7515-dua-chuot-rau-sach.jpg' width='100%' height='80%')
        .card-body(style='text-align: center;')
          a.text-dark(href='#') D&#x1B0;a chu&#x1ED9;t (Rau s&#x1EA1;ch)
          span(style='color: orange; font-weight: bold; font-size: 18px; padding-right: 5px;') 10.000&dstrok;
          span(style='padding-left: 5px')
            del 20.000&dstrok;
      .sale -50%
      .buy_hover
      .buy_hover_1
        a(href='#' data-toggle='tooltip' title='Mua ngay' data-placement='top')
          span.fas.fa-shopping-bag
        a(href='#' data-toggle='tooltip' title='Xem ngay' data-placement='top')
          span.fas.fa-eye
