.container.mt-5(style='margin-bottom: 30px;')
  div(style='border-bottom: 2px solid orange;')
  center
    .new.justify-content
      a(href='#' style='text-decoration: none; color: white;') TIN T&#x1EE8;C
.container
  .row.mt-4
    .col-lg-4
      .card.khoitintuc
        img(src='https://t010.gokisoft.com/uploads/2021/07/759-mi-y.jpg' width='100%' height='80%')
        .card-body(style='text-align: center;')
          .card-title.chutintuc
            strong M&igrave; &Yacute;
          .card-text.mb-3.motatintuc N&#x1B0;&#x1EDB;c &Yacute; kh&ocirc;ng ch&#x1EC9; n&#x1ED5;i ti&#x1EBF;ng v&#x1EDB;i nh&#x1EEF;ng c&ocirc;ng tr&igrave;nh ki&#x1EBF;n tr&uacute;c c&#x1ED5; x&#x1B0;a h&ugrave;ng v&itilde;, n...
          .xemthem
            a(href='#') Xem th&ecirc;m
    .col-lg-4
      .card.khoitintuc
        img(src='https://t010.gokisoft.com/uploads/2021/07/758-oc-huong-rang-muoi-ot-thom-lung.jpg' width='100%' style='height: 270px;')
        .card-body(style='text-align: center;')
          .card-title.chutintuc
            strong &#x1ED0;c h&#x1B0;&#x1A1;ng rang mu&#x1ED1;i &#x1EDB;t th&#x1A1;m l&#x1EEB;ng
          .card-text.mb-3.motatintuc &Dstrok;&#x1B0;&#x1EE3;c g&#x1ECD;i l&agrave; &#x1ED1;c h&#x1B0;&#x1A1;ng b&#x1EDF;i b&#x1EA3;n th&acirc;n lo&agrave;i &#x1ED1;c n&agrave;y t&#x1EA1;o ra m&#x1ED9;t h&#x1B0;&#x1A1;ng th&#x1A1;m c&#x1EF1;c ...
          .xemthem
            a(href='#') Xem th&ecirc;m
    .col-lg-4
      .card.khoitintuc
        img(src='https://t010.gokisoft.com/uploads/2021/07/757-rau-xanh-tang-gia-manh-vi-troi-mua-nguoi-dan-noi-thanh-lao-dao.jpg' width='100%' style='height: 270px;')
        .card-body(style='text-align: center;')
          .card-title.chutintuc
            strong Rau xanh t&abreve;ng gi&aacute; m&#x1EA1;nh v&igrave; tr&#x1EDD;i m&#x1B0;a, ng&#x1B0;&#x1EDD;i d&acirc;n n&#x1ED9;i th&agrave;nh lao &dstrok;ao
          .card-text.mb-3.motatintuc Kho&#x1EA3;ng g&#x1EA7;n m&#x1ED9;t tu&#x1EA7;n nay, do &#x1EA3;nh h&#x1B0;&#x1EDF;ng c&#x1EE7;a nh&#x1EEF;ng c&#x1A1;n m&#x1B0;a l&#x1EDB;n k&eacute;o d&agrave;i li&ecirc;n t&#x1EE5;c ...
          .xemthem
            a(href='#') Xem th&ecirc;m