.header
{
    background-color: #335599;  
    line-height: 40px;  
    font-weight: bold;
    color: white;
}
body {
    background-color: rgba(195, 191, 191, 0.145);
    font-size: 0.9rem;
}
.menu li
{
    list-style-type: none;
    display: inline-block;
    margin-left: 100px;
}
.header_1
{
    width: 95%;
    margin: auto;
}
.list
{
    float: left;
    padding-left: 10px;
    font-size: 14px;
    width: 215px;
}
.giohang
{
    background: orange;
    border-radius: 15px;
    line-height: 35px;
    color: white;
    text-align: center;
    margin-top: 25px;
}
.header_3
{
    background-color: #0055cc; 
}
.product .col-lg-3 .sale
{
    background: pink;
    position: absolute;
    width: 100px;
    line-height: 30px;
    top: 10%;
}
/* .product .col-lg-3 .buy_hover
{
    background-color: white;
    position: absolute;
    width: 89%;
    height: 70%;
    top: 0%;
    opacity: 0.6;
    display: none;
}
.product .col-lg-3 .buy_hover_1
{
    background-color: white;
    position: absolute;
    width: 89%;
    height: 20%;
    top: 30%;
    opacity: 0.8;
    text-align: center;
    display: none;
} */
.product .col-lg-3 .buy_hover_1 span
{
    margin-top: 8%;
    padding: 2%;
}
.product .col-lg-3:hover .buy_hover
{
    display: block;
}
.product .col-lg-3:hover .buy_hover_1
{
    display: block;
}
.new
{
    line-height: 30px;
    width: 100px;
    background-color: #0055cc;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    padding-top: 5px;
    margin-top: -20px;
}
.xemthem
{
    background-color: #f5e50d; 
    width: 120px; 
    line-height: 30px; 
    margin: auto; 
    border-radius: 15px;
    font-weight: bold;
}

.xemthem a {
    color: blue;
    text-decoration: none;
}

.khunganh {
    width: 100%;
}

.khunganh img {
    width: 100%;
    padding-bottom: 10px;
    height: 60%;
}

.danhmuc .tieudedm {
    padding: 10px;
    background: #0055cc;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-left: -15px;
    
}

.duongke {
    border-bottom: 3px solid rgb(241, 245, 31);
    margin-left: 230px;
    margin-top: -30px;
    display: block;
    width: 895px;
}

.hieuungchay {
    height: 10%;
    width: 100%;
}

.anhchay {
    width: 100%;
    height: 295px;
}

.thongtindm {
    border: 1px solid rgba(0, 0, 0, 0.089);
    border-radius: 10px;
    margin: 10px;
}

.thongtindm .anhdanhmuc {
    width: 60%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.thongtindm .anhdanhmuc img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding-top: 5px;
}

.thongtindm a {
    text-decoration: none;
    text-align: center;
    color: rgb(63, 63, 63);
}

.tendanhmuc {
    margin-top: 10px;
    display: block;
}

.khoidanhmuc {
    text-align: center;
    margin-left: 60px;
}

.xemtatca {
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
}

.xemtatca a {
    text-decoration: none;
}

.xemtatca a:hover {
    color: orangered;
}

.chutintuc {
    height: 50px;
    vertical-align: center;
}

.motatintuc {
    height: 50px;
    margin-top: -10px;
    font-size: 14px;
    color: grey;
}

.khoitintuc {
    margin-bottom: 30px;
}

.footer {
    /* margin-left: 400px;
    margin-right: 300px; */
    display: block;
    text-align: center;
    height: 50px;
}


.item-compare span {
    padding: 2px;
    border: 0.5px solid black;
    font-size: 0.8rem;
}

.item-compare {
    display: flex;
    column-gap: 10px;
}
.text-dark {
    font-weight: 500;
    text-overflow: ellipsis;
    cursor: pointer;
    max-height: 45px;
}

.utility {
    font-size: 0.8rem;
}
.card a {
    cursor: pointer;
    list-style-type: none;
    text-decoration: none;
    color: black;
    text-align: center;
}
.item-info{
    padding-left: 10px;
}
.config-name {
    display: inline-block;
    width: 60px;
}
.box-config{
    overflow: hidden;
    width: auto;
    height: 22px;
}

.hit-voting:hover {
    color: blue
}

.hit-voting {
    cursor: pointer
}


@media screen and (min-width: 992px) {
    .card-list {

        height: 450px;
    }
    .plugin-list {

        height: 400px;
    }
}
.fa-star-half-alt, .fas.fa-star{
    color: orange;

}
.star-o {
    color: #ddd !important;
}

.navbar {
	color: #fff;
	background: #926dde !important;
	padding: 5px 16px;
	border-radius: 0;
	border: none;
	box-shadow: 0 0 4px rgba(0,0,0,.1);
}
.navbar img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin-right: 10px;
}
.navbar .navbar-brand {
	color: #efe5ff;
	padding-left: 0;
	padding-right: 50px;
	font-size: 24px;		
}
.navbar .navbar-brand:hover, .navbar .navbar-brand:focus {
	color: #fff;
}
.navbar .navbar-brand i {
	font-size: 25px;
	margin-right: 5px;
}
.search-box {
	position: relative;
}	
.search-box input {
	padding-right: 35px;
	min-height: 38px;
	border: none;
	background: #faf7fd;
	border-radius: 3px !important;
}
.search-box input:focus {		
	background: #fff;
	box-shadow: none;
}
.search-box .input-group-addon {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 10px 7px;
	height: 100%;
}
.search-box i {
	color: #a0a5b1;
	font-size: 19px;
}
.navbar .nav-item i {
	font-size: 18px;
}
.navbar .nav-item span {
	position: relative;
	top: 3px;
}
.navbar .navbar-nav > a {
	color: #efe5ff;
	padding: 8px 15px;
	font-size: 14px;		
}
.navbar .navbar-nav > a:hover, .navbar .navbar-nav > a:focus {
	color: #fff;
	text-shadow: 0 0 4px rgba(255,255,255,0.3);
}
.navbar .navbar-nav > a > i {
	display: block;
	text-align: center;
}
.navbar .navbar-nav > .nav-item > a > i {
	display: block;
	text-align: center;
}
.navbar .dropdown-item i {
	font-size: 16px;
	min-width: 22px;
}
.navbar .dropdown-item .material-icons {
	font-size: 21px;
	line-height: 16px;
	vertical-align: middle;
	margin-top: -2px;
}
.navbar .nav-item.open > a, .navbar .nav-item.open > a:hover, .navbar .nav-item.open > a:focus {
	color: #fff;
	background: none !important;
}
.navbar .dropdown-menu {
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .dropdown-menu a {
	color: #777 !important;
	padding: 8px 20px;
	line-height: normal;
	font-size: 15px;
}
.navbar .dropdown-menu a:hover, .navbar .dropdown-menu a:focus {
	color: #333 !important;
	background: transparent !important;
}
.navbar .navbar-nav .active a, .navbar .navbar-nav .active a:hover, .navbar .navbar-nav .active a:focus {
	color: #fff;
	text-shadow: 0 0 4px rgba(255,255,255,0.2);
	background: transparent !important;
}
.navbar .navbar-nav .user-action {
	padding: 9px 15px;
	font-size: 15px;
}
.navbar .navbar-toggle {
	border-color: #fff;
}
.navbar .navbar-toggle .icon-bar {
	background: #fff;
}
.navbar .navbar-toggle:focus, .navbar .navbar-toggle:hover {
	background: transparent;
}
.navbar .navbar-nav .open .dropdown-menu {
	background: #faf7fd;
	border-radius: 1px;
	border-color: #faf7fd;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar .divider {
	background-color: #e9ecef !important;
}
@media (min-width: 1200px){
	.form-inline .input-group {
		width: 350px;
		margin-left: 30px;
	}
}
@media (max-width: 1199px){
	.navbar .navbar-nav > a > i {
		display: inline-block;			
		text-align: left;
		min-width: 30px;
		position: relative;
		top: 4px;
	}
	.navbar .navbar-collapse {
		border: none;
		box-shadow: none;
		padding: 0;
	}
	.navbar .navbar-form {
		border: none;			
		display: block;
		margin: 10px 0;
		padding: 0;
	}
	.navbar .navbar-nav {
		margin: 8px 0;
	}
	.navbar .navbar-toggle {
		margin-right: 0;
	}
	.input-group {
		width: 100%;
	}
}