.header
{
    background-color: #335599;  
    line-height: 40px;  
    font-weight: bold;
    color: white;
}
.menu li
{
    list-style-type: none;
    display: inline-block;
    margin-left: 100px;
}
.header_1
{
    width: 95%;
    margin: auto;
}
.list
{
    float: left;
    padding-left: 10px;
    font-size: 14px;
    width: 215px;
}
.giohang
{
    background: orange;
    border-radius: 15px;
    line-height: 35px;
    color: white;
    text-align: center;
    margin-top: 25px;
}
.header_3
{
    background-color: #0055cc; 
}
.product .col-lg-3 .sale
{
    background: orange;
    position: absolute;
    width: 50px;
    line-height: 30px;
    top: 10%;
}
.product .col-lg-3 .buy_hover
{
    background-color: white;
    position: absolute;
    width: 89%;
    height: 70%;
    top: 0%;
    opacity: 0.6;
    display: none;
}
.product .col-lg-3 .buy_hover_1
{
    background-color: white;
    position: absolute;
    width: 89%;
    height: 20%;
    top: 30%;
    opacity: 0.8;
    text-align: center;
    display: none;
}
.product .col-lg-3 .buy_hover_1 span
{
    margin-top: 8%;
    padding: 2%;
}
.product .col-lg-3:hover .buy_hover
{
    display: block;
}
.product .col-lg-3:hover .buy_hover_1
{
    display: block;
}
.new
{
    line-height: 30px;
    width: 100px;
    background-color: #0055cc;
    font-weight: bold;
    text-align: center;
    border-radius: 15px;
    padding-top: 5px;
    margin-top: -20px;
}
.xemthem
{
    background-color: #f5e50d; 
    width: 120px; 
    line-height: 30px; 
    margin: auto; 
    border-radius: 15px;
    font-weight: bold;
}

.xemthem a {
    color: blue;
    text-decoration: none;
}

.thanhmenu {
    font-weight: 500;
}

.khunganh {
    width: 100%;
}

.khunganh img {
    width: 100%;
    padding-bottom: 10px;
    height: 60%;
}

.danhmuc .tieudedm {
    padding: 10px;
    background: #0055cc;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    margin-left: -15px;
    
}

.duongke {
    border-bottom: 3px solid rgb(241, 245, 31);
    margin-left: 230px;
    margin-top: -30px;
    display: block;
    width: 895px;
}

.hieuungchay {
    height: 10%;
    width: 100%;
}

.anhchay {
    width: 100%;
    height: 295px;
}

.thongtindm {
    border: 1px solid rgba(0, 0, 0, 0.089);
    border-radius: 10px;
    margin: 10px;
}

.thongtindm .anhdanhmuc {
    width: 60%;
    height: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.thongtindm .anhdanhmuc img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding-top: 5px;
}

.thongtindm a {
    text-decoration: none;
    text-align: center;
    color: rgb(63, 63, 63);
}

.tendanhmuc {
    margin-top: 10px;
    display: block;
}

.khoidanhmuc {
    text-align: center;
    margin-left: 60px;
}

.xemtatca {
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
}

.xemtatca a {
    text-decoration: none;
}

.xemtatca a:hover {
    color: orangered;
}

.chutintuc {
    height: 50px;
    vertical-align: center;
}

.motatintuc {
    height: 50px;
    margin-top: -10px;
    font-size: 14px;
    color: grey;
}

.khoitintuc {
    margin-bottom: 30px;
}

.footer {
    /* margin-left: 400px;
    margin-right: 300px; */
    display: block;
    text-align: center;
    height: 50px;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    line-height: 1.5;
}
.card-wrapper{
    max-width: 1200px;
    margin: 0 auto;
    
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
    justify-content: center;
}
.img-item{
    margin: 1rem;
    width: 50px;
    height: 50px;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
    width: 70%;
}
.product-title::after{
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;

    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.1rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}

.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
    display: flex;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    justify-content: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}
.info-img{
    width: 50%;
    height: 100px;
    opacity: 0.3;
    margin: auto;
}
.info-btn{
    position: absolute;

    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    margin-left: 45%;
    margin-top: -50px;
}
@media screen and (min-width: 992px){
    .card-user{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2rem;
    }
    .card-wrapper{

        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;

    }
    .product-content{
        padding-top: 0;
    }
    .info-img{
        width: 100%;
        height: 100px;
        opacity: 0.3;
    }
    .info-btn{
        position: absolute;
    
        background-color: #555;
        color: white;
        font-size: 16px;
        padding: 12px 24px;
        border: none;
        cursor: pointer;
        border-radius: 5px;
        text-align: center;
        margin-left: 18%;
        margin-top: -50px;
        
    }
    
}
.breadcrumb-item + .breadcrumb-item::before {
  font-family: 'FontAwesome';
  content: ">";
}
.breadcrumb-item::before {
  content: "\f105";
}
.bread {
  width: 80%;
  margin: auto;
}
.title {
  width: 78%;
  margin: auto;
  
}
.promotion {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 55px;
  cursor: pointer;
  border: 0.5px solid;
}
.promotion figure img {
    width: 50px;
    height: 40px;
    margin-top: 20px;
    margin-left: -10px;
}

.promotion-info div {
  font-size: 0.5rem;
  overflow: hidden;
  
}
.icon {
    display: flex;
    justify-content: center;
    align-items: center;
   
   
}
.icon i{
    width: 50px;
    height: 50px;
    padding: 20px;
    margin-top: -15px;
}

.more{
    display: block;
}